.PsectionTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center !important;
  color: #fff;
  margin-top: 2em;
  @media screen and (max-width: 450px) {
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
}

.pInfo{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: #ccc;
  a{
    color: #fff !important;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    &:hover {
      color: #1f59c8 !important;
      text-decoration: underline;
    }
  }
}

.project-row1, .project-row2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.project-row1 .project-img {
  margin-right: 1em;
}
.project-row2 .project-img {
  margin-left: 1em;
}

.project-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.project-links {
  display: flex;
  gap: 1em;
}



.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;

  .project-card {
    background: #252525;
    border-radius: 1rem;
    box-shadow: 0 8px 32px rgba(25, 25, 25, 0.08);
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    max-height: 12000px;
    text-align: unset;

    .project-row1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 0.3em;

      .project-title1 {
        text-align: left;
        margin: 0;
        color: #fff !important;
      }
      .project-img {
        margin-left: 1em;
        width: 500px;
        height: auto;
        border-radius: 0.5em;
      }
    }

    .project-row2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 0.3em;

      .project-img {
        margin-right: 1em;
        width: 500px;
        height: auto;
        border-radius: 0.5em;
      }
      .project-title2 {
        text-align: left;
        margin: 0;
        color: #fff;
      }
    }

    .project-description {
      font-size: 1.15em;
      color: #fff;
      margin-bottom: 1.2em;
      text-align: left;
      max-width: 700px;
    }

    .project-link {
      color: white !important;
      text-decoration: none;
      font-weight: bold;
      transition: background-color 0.3s;
      &:hover {
        color: #1f59c8 !important;
        text-decoration: underline;
        cursor: alias;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .projects-container {
    padding: 1rem;
    gap: 1.2rem;

    .project-card {
      padding: 1rem;
      max-width: 98vw;
    }

    .project-row1,
    .project-row2 {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 1em;

      .project-title1,
      .project-title2 {
        text-align: center;
        margin-bottom: 0.5em;
        font-size: 1.3rem;
      }

      .project-img {
        width: 90vw;
        max-width: 320px;
        height: auto;
        margin: 0.5em 0 0 0;
      }
    }

    .project-description {
      font-size: 1em;
      text-align: center;
      max-width: 95vw;
    }

    .project-links {
      flex-direction: column;
      gap: 0.5em;
      align-items: center;
    }
  }
}
